<%= erb :follow_nav %>
<div id="switch-follow-nav-waypoint"></div> 
<!-- Id is later switched to hide-follow-nav-waypoint -->
<div id="follow-nav" class="container-fluid base-head">
	<div class="row">
			<div class="col-sm-4 center"><img class="landing-logo" src="/svgs/LOGO.svg" alt="sleepbus logo"></div>
			<div class="col-sm-4"></div>
			<div class="col-sm-4 center"><!-- button class="book-trip btn btn-lg"> Book Trip Now</button> --></div>
	</div>
</div>

<div class="container-fluid homepage-info-container landing-block">
	<% info_array.each_with_index do |info_hash, index| %>
		<% if index % 2 != 0 %>
			<div class="row simple-flex info-<%= index %>">
				<%= erb :info_image, :locals => {image_url: info_hash["image_url"]} %>
				<%= erb :info_text, :locals => {info_hash: info_hash, index: index} %>
			</div>
		<% else %>
			<div class="row simple-flex flex-reverse-wrap info-<%= index %>">
				<%= erb :info_text, :locals => {info_hash: info_hash, index: index} %>
				<%= erb :info_image, :locals => {image_url: info_hash["image_url"]} %>
			</div>
		<% end %>
	<% end %>

	<div class="row amenities landing-block">
		<hr>
			<% amenities_array.each do |amenities_hash| %>
				<%= erb :amenities, :locals => {amenities_hash: amenities_hash} %>
			<% end %>
		<hr>
	</div>
	<hr> 
	<div class="row fhq landing-block">
		<% fhq_array.each do |fhq| %>
			<%= erb :fhq, :locals => {question: fhq["question"], answer: fhq["answer"]} %>
		<% end %>
	</div>
	<!-- <div class="row talk-with-tom"> -->
	<!-- </div> -->
</div>
<footer>
	<%= erb :footer %>
</footer>
<div class="modal">
	<i class="icon-close modal-close"></i>
	<div class="modal-panel">
		<%= erb :trip_form  %>
	</div>
</div>