<form action="/stripe/charge" method="post" class="stripe-payment-form">
  <article>
    <label class="checkout-num-passengers"> Passengers: <%= num_passengers %></label>
    <label class="checkout-amount">
      <span>Amount: $<%= cost %></span>
    </label>
  </article>
  <input type="hidden" value="<%= cost %>" name="cost">
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= settings.publishable_key %>"
          data-description="Bus tickets for <%= num_passengers %> Passenger(s)"
          data-amount= "<%= cost * 100 %>"
          data-locale="auto"></script>
</form>

